.article {
  display: block;
  position: relative;
  font-size: 1.12rem;
}

.article:not(:last-child) {
  margin-bottom: 8rem;
}

.article-container{
  margin-left: auto;
  margin-right: auto;
  position: relative;
  width: calc(.46 * 100vw + 9.375 * 1.025rem);
  max-width: 50rem;
}

.article-container-flex{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.article-text-wrapper, .article-image-wrapper, .article-floating-image{
  width: 100%;
}

@media (min-width: 52.06rem){
  .article-container-flex{
    flex-direction: row;
    flex-wrap: wrap;
  }
  
  .article-text-wrapper{
    width: 66.667%;
  }

  .article-image-wrapper{
    width: 33.333%;
  }
}

.article-text{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  margin-bottom: 1rem;
  position: relative;
  z-index: 1;
  color: #fff;
  mix-blend-mode: difference;
  -webkit-font-smoothing: antialiased;
  line-height: 1.8;
}

@media (min-width: 52.06rem){
  .article-text {
    width: 75%;
  }
  .article-text-wrapper .article-text{
    width: 100%;
  }
}

.article-title{
  font-size: 2rem;
  line-height: 2.5rem;
  margin: 0;
  margin-bottom: 1rem;
  padding: 0;
  font-weight: 400;
  letter-spacing: .06rem;
  position: relative;
  z-index: 1;
  color: #fff;
  mix-blend-mode: difference;
  -webkit-font-smoothing: antialiased;
  font-size: 2rem;
  font-family: Oswald,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,sans-serif;
  letter-spacing: .05rem;
}

.article-images{
  perspective: 2500px;
  transform-style: preserve-3d;
  position: relative;
  margin-bottom: 24rem;
  padding-bottom: 120%;
}

@media (min-width: 52.06rem){
  .article-images{
    margin-bottom: 0;
    padding-bottom: 40%;
  }
}

.article-image{
  position: absolute;
  transition: transform .5s;
}

.article-image:hover{
  transition: transform .25s, box-shadow .25s;
  transform: translateZ(200px);
}

.article-image-perspective{
  perspective: 2500px;
  transform-style: preserve-3d;
}

.article-image amp-img{
    transition: box-shadow .5s;
    box-shadow: 0 30px 60px rgba(6,7,22,.15);
}

.article-image:hover amp-img{
    transition: box-shadow .25s;
    box-shadow: 0 30px 80px rgba(6,7,22,.15);
}

@media (min-width: 52.06rem){
  .article-text-wrapper-artist{
    width: 58.33333%;
  }
  .article-floating-image{
    width: 41.66667%;
    margin-top: 56px;
  }
}

@media (min-width: 40.06rem){
  .article-floating-image amp-img{
    margin-left: -6.25rem;
  }
}

.article-image-1{
  width: 80%;
  left: -10%;
  top: -10%;
  transform: rotateX(-12deg) rotateY(20deg) rotate(2deg);
}

.article-image-2{
  width: 90%;
  left: 3%;
  top: 88%;
  z-index: 1;
  transform: translateZ(120px) rotateX(-6deg) rotateY(-1deg);
}

.article-image-3{
  width: 65%;
  right: -10%;
  top: 35%;
  transform: translateZ(60px) rotateY(-40deg);
}

@media (min-width: 52.06rem){
  .article-image-1{
    width: 40%;
    left: -20%;
    top: -18%;
  }
  .article-image-2{
    width: 40%;
    left: 5%;
    top: 10%;
  }
  .article-image-3{
    width: 30%;
    right: 3%;
    top: -25%;
  }
}